<style>
body {
   margin: 0px;
   background-color: palegoldenrod;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
p {
  font-size: large;
  margin: 10px;
}
.sample-section-wrap {
  position: relative;
  background-color: palegoldenrod;
}
.sample-section {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: palegoldenrod;
}
.left-section {
  position: fixed;
  float: left;
  left: 125px;
  border-right: 1px dotted gray;
  padding: 20px;
  position: 0;
}
ul{
  list-style-type: none;
  color: gray;  
}
a{
  color: gray;
  text-decoration-style:dotted;
}
    </style>
